.homepage-container .btn-primary {
  background-color: #00eb5b !important;
  border-color: #00ab42 !important;
  color: #ffffff !important;
}
.homepage-container .btn-primary:hover {
  background-color: #00ab42 !important;
  border-color: #008f34 !important;
  color: #ffffff !important;
}
