/* HomePage custom styles */

.homepage-container {
  /* Example: background-color: #f8f9fa; */
}

.homepage-dashboard-img {
  /* Example: border: 2px solid #007bff; */
}

.homepage-container .btn-primary {
  background-color: #00eb5b !important;
  border-color: #00ab42 !important;
  color: #000 !important;
}
